.navbar{
  font-size: 20px;
}

.nav-link{
  margin-left: 7px;
  margin-right: 7px;
}
.front-page-img{
  height: 550px;
  width: 100%;
}

.lotl-img{
  position: absolute;
  top: 20%;
  height: 300px;
  left: 40%;
}

.lotl-container{
  text-align: center;
}

.lotl-heading{
  position: absolute;
  top: 67%;
  left: 27%;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  font-size: 60px;
}

@media (max-width: 500px){
  .lotl-heading{
    margin-right: 15%;
    margin-bottom: 2%;
    margin-top: 300px;
    float: right;
    left: 10%;
  }
  .lotl-img{
    position: absolute;
    left:15%;
    float: right;
  }
  .lotl-container{
    position: relative;
    top: 100px;
    margin-right: 100px;
  }
}

.discord-heading{
  padding-top: 120px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 70px;
  padding-bottom: 50px;
}

.discord-btn-div{
  text-align: center;
}

.discord-btn{
  height: 60px;
  border-radius: 5%;
  margin-bottom: 5%;
}

.join-discord{
  background-color: #9873b9;
}

.navbar-brand{
  font-family: 'Lilita One', cursive;
  font-weight: 400;
}

.card{
  margin-top: 70px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 5%;
}
.features-heading{
  padding-top: 120px;
  text-align: center;
  font-family: "Lilita One";
  font-weight: 400;
  font-size: 70px;
}

.remark-heading{
  text-align: center;
  padding-top: 7%;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 70px;
  padding-bottom: 5%;
}

.testimonials{
  padding-top: 0;
  background-color: #eeeeee;
}

.surtur-para{
  font-family: "Montserrat";
}
.yasuo-para{
  font-family: "Montserrat";
}

h3{
  font-family: "Lilita One";
  font-weight: bold;
}
