.navbar{
  font-size: 20px;
}

.nav-link{
  margin-left: 7px;
  margin-right: 7px;
}
.front-page-img{
  height: 550px;
  width: 1519px;
}

.lotl-img{
  position: absolute;
  top: 150px;
  height: 300px;
  left: 600px;
}

.lotl-heading{
  position: absolute;
  top: 520px;
  left: 500px;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
}

.discord-heading{
  padding-top: 120px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 70px;
  padding-bottom: 70px;
}

.discord-btn-div{
  text-align: center;
}

.discord-btn{
  height: 60px;
  border-radius: 5%;
  margin-bottom: 100px;
}

.navbar-brand{
  font-family: 'Lilita One', cursive;
  font-weight: 400;
}

.card{
  margin-top: 70px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}
.features-heading{
  padding-top: 120px;
  text-align: center;
  font-family: "Lilita One";
  font-weight: 400;
  font-size: 70px;
}
